# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Database
*.db
*.sqlite3

# Models
*.h5
*.pkl
*.pth
*.onnx

# Logs
*.log

# Uploads
app/static/uploads/*
!app/static/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
